@model Student
@{
	ViewData["Title"] = "Update Student";
}
<div>
	<h2>Update Student</h2>
	<form method="post">
		<input hidden asp-for="Id"/>
		<div class="form-group">
			<label asp-for="Name"></label>
			<input asp-for="Name" class="form-control" />
			<span asp-validation-for="Name" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="ClassName"></label>
			<input asp-for="ClassName" class="form-control" />
			<span asp-validation-for="ClassName" class="text-danger"></span>
		</div>
		<div class="form-group">
			<label asp-for="percentage"></label>
			<input asp-for="percentage" class="form-control" />
			<span asp-validation-for="percentage" class="text-danger"></span>
		</div>
		<div class="form-group">
			<input type="submit" value="Update Student" name="submit" class="btn btn-dark" />
		</div>
	</form>
</div>
@section Scripts{
	<partial name="_ValidationScriptsPartial" />
}