@{
	ViewData["Title"] = "About us";
}

<p>
	From ViewData:<br />
	Company Name: @ViewData["CompanyName"]
	<br />
	From ViewBag:
	<br />
	Company Name:@ViewBag.CompanyName
	<br />
	From TempData:
	<br />
	Company Name:@TempData["CompanyName"]
</p>