@model List<Employee>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Sr. No</th>
			<th>Id</th>
			<th>Name</th>
			<th>Dept</th>
			<th>Salary</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach(var obj in Model){

		}
		<tr></tr>
	</tbody>
</table>