@model Student
<form method="post">
    <div>
        <h1>Register</h1>
    </div>
    <div class="form-group">
        <label asp-for="Name">Name</label>
        <input type="text" class="form-control" asp-for="Name" placeholder="Enter name">
    </div>
    <div class="form-group">
        <label asp-for="Branch">Branch</label>
        <input type="text" class="form-control" asp-for="Branch" placeholder="Enter Branch">
    </div>
    <div class="form-group">
        <label asp-for="RollNo">Roll No</label>
        <input type="text" class="form-control" asp-for="RollNo" placeholder="Enter Roll No">
    </div>
    <button type="submit" class="btn btn-primary">Register</button>
</form>